# Indeed Job Crawling project

In [37]:
# Loading  Necessary  library 

from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

driver=webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

Job_Title = []
Company = []
Rating = []
Location = []
Short_Description = []
Days_Posted = []
Salary = []
Brief_Description = []

In [38]:
# Getting   all the job  details


for i in range(0,50,10):

    driver.get("https://in.indeed.com/jobs?q=Data+Scientist+&l=Gurgaon%2C+Haryana&start="+ str(i))

    time.sleep(5)

    all_jobs = driver.find_elements_by_class_name('result')

    for job in all_jobs:
    
        result_html= job.get_attribute('innerHTML')
        soup = BeautifulSoup(result_html,'html.parser')
    
    
        try:
            title = soup.find("a" ,class_="jobtitle").text.replace('\n',' ')
            Job_Title.append(title)
        except:
            Job_Title.append('---')
        
    
    
        try:
            company = soup.find("span" ,class_="company").text.replace('\n',' ')
            Company.append(company)
        except:
            Company.append('---')
        

        try:
            rating = soup.find("span" ,class_="ratingsContent").text.replace('\n',' ')
            Rating.append(rating)
        except:
            Rating.append('---')
        
        try:
            location = soup.find("span" ,class_="location accessible-contrast-color-location").text.replace('\n',' ')
            Location.append(location)
        except:
            Location.append('---')
        
        
        try:
            salary = soup.find("span" ,class_="salaryText").text.replace('\n',' ')
            Salary.append(salary)
        except:
            Salary.append('Not Mentioned')
        
        
        try:
            short = soup.find("div" ,class_="summary").text.replace('\n',' ')
            Short_Description.append(short)
        except:
            Short_Description.append('---')
        
        
        try:
            days_posted = soup.find("span" ,class_="date").text.replace('\n',' ')
            Days_Posted.append(days_posted)
        except:
            Days_Posted.append('---')
        
       
        
        sum_div = job.find_elements_by_class_name("summary")[0]
        sum_div.click()
        
        time.sleep(5)
        
        
        try:
            job_desc = driver.find_element_by_id("vjs-desc").text.replace('\n',' ')
            Brief_Description.append(job_desc)
        except:
            Brief_Description.append('----')

In [39]:
print(len(Job_Title) , len(Company) ,len(Rating) ,len(Location) ,len(Days_Posted) ,len(Salary),len(Short_Description),len(Days_Posted ),len(Brief_Description))

75 75 75 75 75 75 75 75 75

In [40]:
# Getting Final Data of Data Scientist Job  for the Gurugram location.

Data_Science =pd.DataFrame({'Job Title': Job_Title , 'Company' : Company , 'Rating' : Rating ,'Location' :Location , 'Days Posted' : Days_Posted , 'Salary' : Salary , 'Short Description' :Short_Description , 'Brief Description' : Brief_Description})
Data_Science

,Job Title,Company,Rating,Location,Days Posted,Salary,Short Description,Brief Description
0,Data Scientist,Applicate IT Solutions Pvt. Ltd.,---,"Gurgaon, Haryana",8 days ago,"₹3,00,000 - ₹5,00,000 a year",Select appropriate datasets and data represe...,Understand business domain and solve business ...
1,Junior Data Scientist/ta,WSD Consultant,---,"Gurgaon, Haryana",8 days ago,"₹7,00,000 - ₹15,00,000 a year",These programs help them master data-driven ...,"Gurgaon, Bangalore, Mumbai, Pune, Chennai, Hyd..."
2,Data Science Internship,Applicate IT Solutions Private Limited,---,"Gurgaon, Haryana",6 days ago,"₹25,000 a month",Selecting appropriate datasets and data repr...,About the company: Applicate is a sales-tech c...
3,Data Science Internship,Wasserstoff Private Limited,---,"Gurgaon, Haryana",Today,"₹5,000 - ₹10,000 a month",Crunch major forex data and create data mode...,About the company: We are a software developme...
4,Data Scientist,NatWest Group,3.4,"Gurgaon, Haryana",30+ days ago,Not Mentioned,This is an opportunity to participate in the...,Join us as a Data Scientist We’ll look to you ...
...,...,...,...,...,...,...,...,...
70,Associate Analytics Director,Essence,---,"Gurgaon, Haryana",26 days ago,Not Mentioned,"Essence, part of GroupM, is a global data an...","About Essence Essence, part of GroupM, is a g..."
71,Business Analyst II,Junglee Games,4.7,"Gurgaon, Haryana",30+ days ago,Not Mentioned,Work with all teams in the company to unders...,"As our Business Analyst II, you will gather, a..."
72,Data Engineer - Global AI Platform Company,Michael Page,3.5,"Gurgaon, Haryana",30+ days ago,Not Mentioned,"Build, maintain and manage data pipelines. O...",Apply share this job Email Job Save Job Get to...
73,Lead Analyst,Junglee Games,4.7,"Gurgaon, Haryana",30+ days ago,"₹30,00,000 - ₹50,00,000 a year","You should be a data wizard, not one who kno...","As our Lead Analyst, you will gather, analyze,..."
74,Sr. Analytics Manager,Essence,---,"Gurgaon, Haryana",26 days ago,Not Mentioned,"Essence, part of GroupM, is a global data an...","About Essence Essence, part of GroupM, is a gl..."

# Saving the file

In [42]:
Data_Science.to_csv("Data_Science1.csv")